<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&family=Roboto:wght@300;500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/fc0f4b4206.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="header-box">
            <div class="main-header-top-bar">
                <div class="main-header-first-row">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo">
                    <div class="header-search">
                        <form action="">
                            <input type="text" placeholder="  Buscar productos, marcas">
                        </form>
                        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-header-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="login">
        <form action="/home" method="GET" class="login-form">
                <div class="input-grupo-login">
                    <input type="text" placeholder=" Nombre de usuario">
                </div>
                <div class="input-grupo-login">
                    <input type="text" placeholder=" Elegí tu contraseña">
                </div>
                <input type="submit" value="Enviar" class="input-btn-login">
        </form>
    </main>
</body>

</html>